/* Author: Cristel Ganna */

/* GLOBAL */

html,
body {
    width: 100%;
    overflow-x: hidden; /*Used to avoid right side spacing*/
}

html {
    scroll-behavior: smooth;
}

.btn-pink {
    background-color: #f6b7bc;
    font-weight: 300;
}

/* NAVBAR */

#navBar .nav-link {
    font-weight: 400;
    font-size: 1.2em;
}

.navbar {
    background-color: rgba(56, 54, 54, 0.432);
}

.top-nav-collapse {
    background-color: #1c2331;
}

#logo {
    height: 3em;
}

.navbar-header {
    width: 15%;
}

ul.nav.navbar-nav {
    display: block;
    float: right;
    width: 85%;
}

.nav > li {
    position: relative;
    display: block;
    width: 28.33%;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    #socialsNav {
        flex-direction: row-reverse;
    }
}

#socialsNav li:nth-child(2) a {
    padding: 5px;
}
/* HOME */

#cristelPhoto {
    height: 90px;
    display: flex;
}

.jumbotron {
    background: url('../img/bg.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#introText {
    margin-top: 25vh;
}

#introText p a {
    margin-top: 45px;
}

.btn-light {
    color: #212529;
    background-color: rgba(232, 232, 246, 0.7);
    border-color: #f8f9fa;
}

/* SERVICES */

.servicesIcons {
    font-size: 4em;
    margin-bottom: 1.1em;
    margin-top: 1.1em;
    color: #f6b7bc;
}

/* PROJECTS */

#projects {
    background-color: #f6b7bc;
}

.projectImage {
    width: 100%;
    height: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 0.5em;
}

.projectImage:hover {
    box-shadow: 0 8px 6px -6px black;
}

.box15 {
    position: relative;
}
.box15 img {
    width: 100%;
    height: auto;
}
.box15 .box-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.box15:hover .box-content {
    background-color: rgba(0, 0, 0, 0.75);
}
.box15 .box-content:after,
.box15 .box-content:before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.2s ease 0.3s;
}
.box15 .box-content:before {
    border-left: 1px solid #fafafa;
    border-top: 1px solid #fafafa;
    top: 19px;
    left: 19px;
}
.box15 .box-content:after {
    border-bottom: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    bottom: 19px;
    right: 19px;
}
.box15:hover .box-content:after,
.box15:hover .box-content:before {
    opacity: 1;
    transform: scale(1);
}
.box15 .title {
    font-size: 2em;
    color: #fafafa;
    margin: 0;
    position: relative;
    top: 0;
    opacity: 0;
    transition: all 1s ease 10ms;
    text-align: center;
}
.box15:hover .title {
    top: 39%;
    opacity: 1;
    transition: all 0.5s cubic-bezier(1, -0.53, 0.405, 1.425) 10ms;
}

/* .box15 .title:after {
    content: '';
    width: 0;
    height: 1px;
    background: #FAFAFA;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease 0s;
} */

.box15:hover .title:after {
    width: 80%;
    transition: all 1s ease 0.8s;
}

#makeplain {
    background-image: url('../img/makeplain.jpg');
}

#inveion {
    background-image: url('../img/inveion.png');
}

#svt {
    background-image: url('../img/svt.png');
    background-position: 85% 15%;
}

#fideconto {
    background-image: url('../img/fideconto.jpg');
    background-position: 100% 0%;
}

#avirex {
    background-image: url('../img/avirex.jpg');
    background-position: 100% 0%;
}

/* CONTACT */

.contactIcons {
    color: #f6b7bc;
}

#spinner {
    display: none;
    width: 25px;
    height: 25px;
}

.grecaptcha-badge {
    visibility: hidden;
}

/* FOOTER */

footer {
    background-color: #f6b7bc;
}

/* GO TO TOP BTN */

#goToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f6b7bc; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    border: 1px solid white;
    width: 3em;
}

#goToTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/************** RESPONSIVE ****************/

/* On screens that are 990px or less */
@media only screen and (max-width: 990px) {
    .box15 {
        margin-bottom: 30px;
    }
}
/* On screens that are 1024px or less aka iPad Pro and down*/
@media screen and (max-width: 1024px) {
    .box15 {
        opacity: 1;
    }
    .box15 .title {
        opacity: 1;
        font-size: 1.5em;
        top: 40%;
        font-weight: 400;
        letter-spacing: 3px;
    }
    .box15 .box-content:after,
    .box15 .box-content:before {
        opacity: 1;
    }
    .box15 .box-content {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .projectImage {
        height: 12em;
    }

    .fixed-mobile-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    #introText {
        margin-top: 35vh;
    }
}
/* On screens that are 600px or less */
@media only screen and (max-width: 600px) {
    /* Intro text */
    #hello {
        font-size: 2em;
    }
}
